# Base de datos (PostgreSQL)
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=registro_coyhaique
PG_USER=postgres
PG_PASSWORD=TU_CONTRASEÑA

# Autenticación — genera un secreto en: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET="pega_aqui_el_secreto_generado"
NEXTAUTH_URL="http://localhost:3000"

# Correo saliente (SMTP — Outlook / Microsoft 365)
SMTP_HOST=smtp-mail.outlook.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_AUTH=true
SMTP_USER=registrorg@coyhaique.cl
SMTP_PASS=TU_CONTRASEÑA_SMTP
